@model Magazin_Online.Models.Comanda

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Comanda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrComanda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrComanda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrBuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrBuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataComanda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataComanda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StareComanda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StareComanda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Admin.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utilizator.Adresa)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>

</div>
