@model Magazin_Online.Models.Comanda

@{
    ViewData["Title"] = "Details";
}

<h1>Order Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Numarul Comenzii
        </dt>
        <dd class="col-sm-10">
            @Model.NrComanda
        </dd>
        <dt class="col-sm-2">
            Nr. bucati
        </dt>
        <dd class="col-sm-10">
            @Model.NrBuc
        </dd>
        <dt class="col-sm-2">
            Data comenzii
        </dt>
        <dd class="col-sm-10">
            @Model.DataComanda
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @Model.StareComanda
        </dd>
        <dt class="col-sm-2">
            Adresa
        </dt>
        <dd class="col-sm-10">
            @Model.Utilizator.Adresa
        </dd>
    </dl>
</div>

<div>
    <h4>Produse Comandate</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Produs</th>
                <th>Cantitate</th>
                <th>Pret</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProdusComanda)
            {
                <tr>
                    <td>@item.Produs.Denumire</td>
                    <td>@item.Cantitate</td>
                    <td>@item.Pret</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a class="btn btn-primary" asp-controller="Order" asp-action="MyOrders">Inapoi la comenzi</a>
</div>
