@model Magazin_Online.Models.Comanda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comanda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrComanda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrComanda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrBuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrBuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataComanda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataComanda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StareComanda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StareComanda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Admin.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utilizator.Adresa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
