@model IEnumerable<Magazin_Online.Models.Comanda>

@{
    ViewData["Title"] = "My Orders";
}

<h1>My Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>Order Number</th>
            <th>Quantity</th>
            <th>Order Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NrComanda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NrBuc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataComanda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StareComanda)
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Order" asp-action="Details" asp-route-nrComanda="@item.NrComanda">Detalii</a>
                </td>
            </tr>
        }
    </tbody>
</table>

