@model IEnumerable<Magazin_Online.Models.Comanda>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NrComanda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NrBuc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataComanda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StareComanda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Admin.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utilizator.Adresa)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
