@model Produs
@using Magazin_Online.Data.Enums

@{
    ViewData["Title"] = "Adaugă Produs";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Product" asp-action="AddProduct" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Denumire">Denumire:</label>
        <input asp-for="Denumire" class="form-control" />
        <span asp-validation-for="Denumire" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Categorie">Categorie:</label>
        <select class="form-control" asp-for="Categorie" required>
            <option value="">Selectează categoria</option>
            @foreach (var categ in Enum.GetValues(typeof(CategorieProdus)))
            {
                <option value="@categ">@categ</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="Categorie"></span>
    </div>

    <div class="form-group">
        <label>Imagini:</label>
        <div id="drag-drop-area" class="drop-area">
            <div id="drag-drop-text">Trageți și lăsați fișierele aici.</div>
        </div>
        <input type="file" id="file-input" name="file" class="form-control-file" style="display: none;" />
        <div id="preview" class="preview"></div>
        <span class="text-danger" asp-validation-for="Imagine"></span>
    </div>

    <input type="hidden" id="hidden-uri" name="imageURI" />

    <div class="form-group">
        <label asp-for="Descriere">Descriere:</label>
        <textarea asp-for="Descriere" class="form-control" rows="4"></textarea>
        <span asp-validation-for="Descriere" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Nr_buc">Numărul de bucăți:</label>
        <input asp-for="Nr_buc" class="form-control" />
        <span asp-validation-for="Nr_buc" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label for="Oras">Oras:</label>
        <select class="form-control" asp-for="Localitate" required>
            <option value="">Selectează orașul</option>
            @foreach (var oras in Enum.GetValues(typeof(Orase)))
            {
                <option value="@oras">@oras</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="Localitate"></span>
    </div>

    <button type="submit" class="btn btn-primary">Adaugă Produs</button>
</form>

@section Scripts {
    <script>
        const dropArea = document.getElementById('drag-drop-area');
        const fileInput = document.getElementById('file-input');
        const preview = document.getElementById('preview');
        const hiddenUriInput = document.getElementById('hidden-uri');

        function createImageElement(file) {
            const reader = new FileReader();
            reader.onload = () => {
                const img = document.createElement('img');
                img.src = reader.result;
                img.className = 'preview-image';
                img.setAttribute('data-name', file.name);

                const deleteButton = document.createElement('button');
                deleteButton.textContent = 'Șterge';
                deleteButton.className = 'delete-button';
                deleteButton.style.color = 'white';
                deleteButton.style.backgroundColor = 'red';
                deleteButton.style.border = 'none';
                deleteButton.style.padding = '5px 10px';
                deleteButton.style.borderRadius = '5px';
                deleteButton.style.marginRight = '5px';
                deleteButton.style.cursor = 'pointer';
                deleteButton.addEventListener('click', () => deleteImage(img));

                const container = document.createElement('div');
                container.style.display = 'flex';
                container.style.alignItems = 'center';
                container.appendChild(deleteButton);
                container.appendChild(img);

                preview.appendChild(container);
            };
            reader.readAsDataURL(file);
        }

        function deleteImage(img) {
            img.parentNode.remove();
            updateFileInput();
        }

        function updateFileInput() {
            const files = [];
            const images = document.querySelectorAll('.preview-image');
            images.forEach(img => {
                const name = img.getAttribute('data-name');
                const file = new File([name], name, { type: 'image/jpeg' });
                files.push(file);
            });
            const fileList = new DataTransfer();
            files.forEach(file => fileList.items.add(file));
            fileInput.files = fileList.files;

            if (images.length > 0) {
                hiddenUriInput.value = images[0].src;
            } else {
                hiddenUriInput.value = '';
            }
        }

        dropArea.addEventListener('dragover', (event) => {
            event.preventDefault();
            dropArea.classList.add('dragover');
        });

        dropArea.addEventListener('dragleave', () => {
            dropArea.classList.remove('dragover');
        });

        dropArea.addEventListener('drop', (event) => {
            event.preventDefault();
            dropArea.classList.remove('dragover');

            const files = event.dataTransfer.files;

            Array.from(files).forEach(file => {
                createImageElement(file);
            });
        });

        fileInput.addEventListener('change', (event) => {
            const files = event.target.files;

            Array.from(files).forEach(file => {
                createImageElement(file);
            });
        });
    </script>
}
