@model Magazin_Online.Models.Produs

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Esti sigur ca doresti sa stergi acest produs?</h3>
<div>
    <h4>Produs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Denumire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Denumire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descriere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descriere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nr_buc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nr_buc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localitate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localitate)
        </dd>
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-secondary" asp-action="MyProducts">Back to List</a>
    </form>
</div>
