@model IEnumerable<Produs>

@{
    ViewData["Title"] = "Produse";
}

<style>
    .product-card1 {
        max-width: 600px;
        margin-bottom: 20px;
        transition: transform 0.3s ease;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

        .product-card1:hover {
            transform: translateY(-10px);
        }

    .product-image1 {
        height: 200px;
        object-fit: contain;
        width: 100%;
        padding: 10px; /* Adaugă padding pentru spațiere */
        background-color: #f8f9fa; /* Fundal pentru a evidenția imaginea */
        border-bottom: 1px solid #ddd; /* Linie de separare între imagine și text */
    }

    .card-header1 {
        background-color: #17a2b8;
        padding: 1.25rem;
    }

        .card-header1 h5 {
            margin-bottom: 0;
            font-size: 1.5rem;
            color: white; /* Adăugare culoare albă pentru text */
        }

    .card-body {
        padding: 15px;
    }

        .card-body p {
            margin-bottom: 10px;
            font-size: 1rem;
            color: #333;
        }

    .badge1 {
        margin-right: 5px;
        color: white; /* Text alb pentru status */
    }

        .badge1.bg-success {
            background-color: #28a745;
        }

        .badge1.bg-danger {
            background-color: #dc3545;
        }

    .card-text {
        font-family: 'Arial', sans-serif;
        color: #555;
    }

    .btn-success {
        background-color: #28a745;
        border-color: #28a745;
    }

        .btn-success:hover {
            background-color: #218838;
            border-color: #1e7e34;
        }
</style>

<div class="row">
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-xs-6 mb-3">
                <div class="card product-card1">
                    <div class="card-header1">
                        <h5 class="card-title">
                            @item.Denumire
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="text-white float-right" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i></a>
                            }
                        </h5>
                    </div>
                    <img src="@Url.Content(item.Imagine)" class="product-image1" alt="@item.Denumire">
                    <div class="card-body">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <p class="card-text">Utilizator: @item.Utilizator.Nume @item.Utilizator.Prenume</p>
                                <p class="card-text">Categorie: @item.Categorie</p>
                                <p class="card-text">Localitate: @item.Localitate</p>
                                <p class="card-text"> Status: 
                                    @if (item.Nr_buc > 0)
                                    {
                                        <span class="badge1 bg-success">VALABIL</span>
                                    }
                                    else if (item.Nr_buc == 0)
                                    {
                                        <span class="badge1 bg-danger">NU MAI ESTE PE STOCK</span>
                                    }
                                </p>
                                <p class="card-text">Descriere: @item.Descriere</p>
                                <form asp-controller="Order" asp-action="AddItemToShoppingCart" method="post">
                                    <div class="form-group">
                                        <label for="quantity">Cantitate:</label>
                                        <input type="number" class="form-control" id="quantity" name="quantity" min="1" max="@item.Nr_buc" required>
                                    </div>
                                    <p class="text-danger" id="quantityError" style="display:none;">Cantitatea introdusă depășește stocul disponibil.</p>
                                    <input type="hidden" name="productId" value="@item.Id" />
                                    <button type="submit" class="btn btn-success">
                                        <i class="bi bi-cart-plus"></i> Adaugă în coș (@item.Pret.ToString() RON)
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>No data available</p>
    }
</div>
