@model IEnumerable<Magazin_Online.Models.Produs>

@{
    ViewData["Title"] = "Produsele mele";
}

<style>
    .card {
        width: 20rem; 
        margin-bottom: 20px;
    }

    .card-img-top {
        max-height: 200px;
        object-fit: cover;
    }

    .card-deck .card {
        margin-right: 15px; 
    }
</style>

<h1>@ViewData["Title"]</h1>

<div class="card-deck">
    @foreach (var product in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="@product.Imagine" class="card-img-top" alt="@product.Denumire">
                <div class="card-body">
                    <h5 class="card-title">@product.Denumire</h5>
                    <p class="card-text">@product.Descriere</p>
                    <p class="card-text"><strong>Preț:</strong> @product.Pret.ToString("c") RON</p>
                    <p class="card-text"><strong>Număr de bucăți:</strong> @product.Nr_buc</p>
                    <p class="card-text"><strong>Localitate:</strong> @product.Localitate</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" asp-controller="Product" asp-action="Edit">Edit</a>
                    <a class="btn btn-danger" asp-controller="Product" asp-action="Delete">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
